{% extends 'pages/home.html'%}
{% block body %}
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        background-color: white;
        margin-top: 80px;
        height: 100%;
        width: 15%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 16px;
    }
    .sidebar h4 {
        margin-left: 10px;
        color: rgb(155, 152, 148);
    }

    .sidebar a {
    font-weight: bold;
        padding: 6px 8px 20px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        margin-left: 30px;
        color: rgb(120, 124, 128);
    }

    .sidebar a:hover {
        color: #903983;
    }


    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }

        .sidebar a {
            font-size: 18px;
        }
    }
    main{
        margin-left: 10%;
        margin-top: 7%;
    }


    .products{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 200px;
    
}

.box{
    background-color: white;
    margin-top: 50px;
    width: 280px;
    height: 400px;
    margin-left: 28px;
    margin-bottom: 80px;
    border-radius: 5px;

}
.main img{
    width: 100%;
    height: 300px;
    border-radius: 5px;

}
.main strong{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main p, strong{
    margin-left: 6px;
}


@media (max-width: 920px){
     .products{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;

     }
     .box{
        width: 50%;
        margin-left: 40px;
     }
}
footer{
    width: 97%;
    margin-left: 20px;
    margin-bottom: 20px;
}
footer p, span, h6, a{
    color: black;
    font-weight: bold;
}
</style>


    <div class="sidebar">
        <h4>ALl Category</h4>
        {% for cat in cat %}
        <a href="/category/{{cat.name}}/">{{cat.name}}</a>
        {% endfor %}
    </div>

    <main>
        <div class="products">
            {% for object_list in object_list %}
            <div class="box">
                <div class="main">
                    <a href='{{ object_list.get_absolute_url}}'>
                        <img src="{{ object_list.first_images.url }}"></a>
                    <p>{{object_list.title}}</p>
                    <strong> $ {{object_list.price}}</strong>
                </div>
            </div>
            {% endfor %}
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
    
        <section class="">
            <div class="container text-center text-md-start mt-5">
    
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Company name
                        </h6>
                        <p>
                            Short informaction
                        </p>
                    </div>
    
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Shoes</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">T-short</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset"></a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset"></a>
                        </p>
                    </div>
    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
    
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i> Koteshow Ktm Nepal.</p>
                        <p>
                            <i class="fas fa-envelope me-3 text-secondary"></i>myapplication@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3 text-secondary"></i> + 977 9835985677</p>
                        <p><i class="fas fa-print me-3 text-secondary"></i> + 977 9835985677</p>
                    </div>
                </div>
            </div>
        </section>
    
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            <p>© 2022 Copyright:myapplication.com</p>
    
        </div>
    </footer>


{% endblock %}