.hcontant{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.support{
    margin-left: 200px;
    margin-top: 50px;
    width: 30%;
    height: 600px;
    float: left;
    margin-right: 200px;
}
.question{
    margin-top: 50px;
    margin-left: 400px;

}
.question ul li {
    list-style-type: none;
    margin-bottom: 15px;
}
footer{
    margin-top: 200px;
    background-color: rgb(233, 241, 228);
    width: 96%;
    height: 150px;
    margin-left: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.left{
    margin-top: 40px;
    margin-left: 50px;
    float: left;
    margin-left: -850px;
}
.right{
    float: right;
    margin-right: 50px;
    margin-top: 40px;
}
.right input{
    margin-top: -1px;
    border: 1px solid black;
    width: 180px;
    border-radius: 10px;
    height: 35px;
}
.right button{
    border: none;
    height: 35px;
    width: 160px;
    border-radius: 10px;
    background-color: rgb(139, 29, 141);
    color: white;
}

@media (max-width: 1100px){
    .hcontant {
        margin-left: 20px;
    }
    .support{
        margin-left: 20px;
    }
    .question{
        margin-left: 100px;
    }
        .left{
            margin-left: none;
        }
}